<!DOCTYPE html>
<html lang="en">
<body>

<%- include('navbar') %>



<div class="container">
    <div class="row">
        <h1>Home</h1>
    </div>
    <hr>
    <div class="row">
        <form method="post">
            <label for="user">Imie</label>
            <input type="text" id="user" name="user">
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>